template(name="nav")
  nav(class="#{#if black}black#{/if}")
    div.nav-group
      | #{#if back}
      a(class="nav-item js-back" href="#")
        span.icon-arrow-left-alt
      | #{else}
      a(class="nav-item js-menu" href="#")
        span.icon-menu
      | #{/if}

    div.title-page
      | #{title}
      span.subtext-page #{subtext}

    div(class="nav-group right")
      +Template.contentBlock