template(name="recipe")

  div(class="page recipe {{activeTabClass}}")
    +nav(title='Recipe' black="true" back="true")
      if bookmarked
        a(href="#" class="nav-item js-remove-bookmark bookmarked")
          span.icon-bookmark
      else
        a(href="#" class="nav-item js-add-bookmark")
          span.icon-bookmark-hollow
      a(href="#" class="nav-item js-share")
        span.icon-camera

    div.image-recipe(style="background-image: url('{{recipeImage recipe=this size='full'}}')")

    div(class="attribution-recipe js-uncollapse")
      h1.title-recipe {{title}}
      div.metadata-wrapper
        p.description-recipe #{excerpt}
        span.source #{source.name}
        span.time #{cookTime}

      div.btns-group
        a(class="btn-secondary {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-recipe") Make It
        a(class="btn-secondary {{#if isActiveTab 'feed'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-feed") Pictures

    div(class="content-scrollable static-nav make-scrollable")
      a(class="btn-tertiary js-share")
        span.icon-camera
        | Share that you made this

      h2.list-title Ingredients
      ul.list-ingredients
        each ingredients
          li.item-ingredient #{this}

      h2.list-title Directions
      ol.list-directions
        each directions
          li.item-direction
            span.text #{this}
        li.item-direction
        | ...
      a(href="{{source.url}}" target="_blank" class="btn-primary js-open") See full recipe on #{source.name}

    div(class="content-scrollable static-nav feed-scrollable")
      a(class="btn-tertiary js-share")
        span.icon-camera
        | Share that you made this
      div.list-activities
        each activities
          +activity
        else
          div.wrapper-message
            div.title-message No feed activity yet
            div.subtitle-message Be the first to share that you made this recipe. 
              a.js-share Share now