template(name="shareOverlay")
  if currentUser
    div(class="overlay share")
      unless attachedImage
        a(href="#" class="js-close-overlay overlay-dismiss")
          span.icon-cross
        div.wrapper-heading
          div.title-overlay Share
          div.subtitle-overlay Share this post with the WardrobeFM community.

        div.wrapper-camera
          a(class="js-attach-image btn-camera")
            span.icon-camera
          div.subtext-camera Add your photo
      else
        a(href="#" class="js-unattach-image overlay-back")
          span.icon-arrow-left-alt
        div.title-page Share
        a(href="#" class="js-close-overlay overlay-dismiss")
          span.icon-cross

        div.bg-image(style="background-image: url('{{attachedImage}}')")

        form.form-share
          div.form-group
            div.avatar
              img.image-avatar(src="{{avatar}}")

            textarea.message-share(
              name="text" 
              type="text" 
              autocapitalize="off" 
              autocorrect="off" 
              required 
              maxlength="140" 
              placeholder="Add advice, suggestions, or thoughts to share with the community..."
            )

          div.wrapper-checkbox
            label.checkbox(for="tweeting")
              input(type="checkbox" name="tweeting" id="tweeting" checked)
              span Post to Twitter

          button.btn-primary(type='submit')
            if tweeting
              | Share &amp; Tweet
            else
              | Share
  else
    +authOverlay