template(name="shareOverlay")
  if currentUser
    div(class="overlay share")
      unless attachedImage
        a(href="#" class="js-close-overlay overlay-dismiss")
          span.icon-cross
        .wrapper-heading
          .title-overlay Post
          .subtitle-overlay Share your inspiration with the WardrobeFM Community.

        .wrapper-camera
          a(class="js-attach-image btn-camera")
            span.icon-camera
          .subtext-camera Add your photo
      else
        a(href="#" class="js-unattach-image overlay-back")
          span.icon-arrow-left-alt
        .title-page Post
        a(href="#" class="js-close-overlay overlay-dismiss")
          span.icon-cross

        .bg-image(style="background-image: url('{{attachedImage}}')")

        form.form-share
          .form-group
            .avatar
              img.image-avatar(src="{{avatar}}")

            textarea.message-share(
              name="text" 
              type="text" 
              autocapitalize="off" 
              autocorrect="off" 
              required 
              maxlength="140" 
              placeholder="Add advice, suggestions, or thoughts to share with the community..."
            )
            
            .artist-box
              label.visuallyhidden(for="artist") Enter a musician or band name
              //input.artist-search(type="text" name="artist" placeholder="Who is inspiring you today?")

          .wrapper-checkbox
            label.checkbox(for="tweeting")
              input(type="checkbox" name="tweeting" id="tweeting" checked)
              span Post to Twitter

          button.btn-primary(type='submit')
            if tweeting
              | Share &amp; Tweet
            else
              | Share
  else
    +authOverlay