header(id="header")
    nav(id="menu")
        ul
            li
                a(href="#" title="About Wardrobe.FM") About
            li.last
                a(href="#" title="Get help") Help
    div(id="searchContainer")
        h1 Wardrobe.FM
        div(id="search")
            form(
                id="searchform" 
                name="searchform" 
                ng-submit="artistList.addArtist()"
            )
                input(
                    type="text" 
                    name="s" 
                    placeholder="Enter your favorite band name" 
                    autocomplete="off" 
                    autofocus 
                    required 
                    aria-required="true"
                    ng-model="artistList.artistText"
                )
                button(type="submit") Search