div(data-module="artist-search" id="searchContainer")
    div(id="search")
        form(
            id="searchform" 
            name="searchform" 
            ng-submit="artistList.addArtist()"
        )
            label(for="artistsearch") Type an artist that is inspiring you today
            input(
                type="text" 
                name="artistsearch"
                id="artistsearch"
                placeholder="Type an artist" 
                autocomplete="off" 
                autofocus 
                required
                ng-model="artistList.artistText"
            )
            button(type="submit") Search